.mypage-wrapper {
    padding: 100px 0 100px 0;
    background-image: url("/img/img10.jpg");
    background-size: cover;
    color: #FFF;
    text-align: center;
}

.card {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.mypage-wrapper .card-header {
    background-color: rgba(0, 0, 0, 0.6);
}

.concertForm input {
    width: 80%;
}

.concertInput {
    margin-bottom: 5px;
}

.concertInput input select {
    background-color: #FFF;
}

.dispnon {
    display: none;
}

.mypage-menu p {
    cursor: pointer;
    display: block;
}

.active_page {
    color: yellow;
}

.mypage-concert-list-wrapper {
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #0c5460;
}

.mypage-concert-list {
    margin: 10px 0px;
}

.createForm label {
    text-align: left;
}

.pointer {
    opacity: 1;
    cursor: pointer;
    transition: 0.5s;
}

.pointer:hover {
    /*background-color: rgba(100,100,0,0.1);*/
    background-color: rgba(50, 150, 200, 0.5);
    opacity: 0.8;
}

.detail-wrapper {
    background-image: url("/img/detail.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: #FFF;
    padding: 100px 0 100px 0;
}

.detail-border {
    padding: 10px 0 0 10px;
    background-color: rgba(10, 10, 10, 0.8);
    margin: 0 auto;
    width: 80%;
    border: 1px solid #0c5460;
}

.detail-container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    border: 1px solid #0c5460;
}

.detail-title {
    padding: 10px;
    background-color: rgba(10, 10, 10, 0.8);
    border-bottom: 1px solid #0c5460;
}

.detail-introduction {
    width: 100%;
    margin: 0 auto;
}

.detail-update input, textarea {
    color: #FFF;
    outline: 0;
    border: 0px;
    background: transparent;
    width: 100%;
}

.detail-introduction textarea, .detail-introduction {
    font-size: 16px;
    width: 100%;
    padding: 10px;
}

.detail-introduction label {
    text-decoration: underline;
    font-size: 18px;
    font-weight: bold;
}

.detail-update input[type=submit] {
    color: #FFF;
    border: 1px solid #0c5460;
    padding: 3px;
    width: 10%;
}

.youtube {
    text-align: center;
}

.icon-img {
    margin: auto 0;
}

.modal-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s ease 0s;
    background-color: rgba(50, 50, 50, 0.8);
    z-index: 50;
}

.modal-panel {
    position: fixed;
    left: 5%;
    top: 25%;
    width: 90%;
    background-color: #FFF;
    z-index: 100;
    text-align: center;
}

.modal-panel button {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #0c5460;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    cursor: pointer;
    margin: 1px;
}

.modal-panel-content {
    padding: 15px;
    color: #5f5d60;
}