/* スマホ向けレイアウト */
@media all and (max-width: 670px) {
    .menu-icon {
        display: block;
    }

    .header-right {
        display: none;
    }

    .detail-title {
        font-size: 20px;
    }

    #mobile-menu {
        display: block;
        position: fixed;
        top: 65px;
        right: 0;
        padding-top: 10px;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 10;
        transition: all 0.5s;
    }

    #mobile-menu ul {
        list-style-type: none;
    }

    #mobile-menu a {
        font-size: 18px;
    }

    .slide_btn {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    .top-wrapper {
        text-align: center;
    }

    .top-wrapper h1 {
        font-size: 38px;
    }

    .top-wrapper h2 {
        font-size: 25px;
    }

    .top-wrapper p {
        text-align: left;
    }

    .about-wrapper {
        text-align: left;
    }

    .about-wrapper h1 {
        text-align: center;
        font-size: 25px;
    }

    .about-content-wrapper p {
        text-align: left;
    }

    .search-wrapper label {
        margin-top: 12px;
    }

    .search-wrapper input {
        border-radius: 0;
        min-height: 50px;
    }

    .mypage-menu-panel {
        margin-top: 30px;
    }

    .mypage-menu-panel select {
        width: 100%;
    }
}