* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

.body-wrapper {
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none !important;
}

input, textarea {
    border: 1px solid #218BC3;
    background-color: transparent;
    color: #FFFFFF;
}

input[type="submit"] {
    width: 30%;
    border-bottom: none;
    background-color: rgba(50, 150, 200, 0.7);
    transition: 0.5s;
    color: #FFFFFF;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: rgba(50, 150, 200, 1.0);
    cursor: pointer;
}

select {
    border-top: none;
    border-right: none;
    border-left: none;
    border: 1px solid #218BC3;
    border-radius: 0px;
    padding: 20px;
    color: #fff;
    background-color: rgba(0,0,0,0.3);
}

.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
}

#mobile-menu {
    display: none;
}

.page-link {
    background-color: transparent !important;
}

.active {
    background-color: rgba(50, 150, 200, 0.7);
}

.clear {
    clear: left;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* menu関連 */
.logo {
    height: 65px;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    margin-right: -25px;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: #FFF;
    display: block;
    float: left;
    transition: all 0.7s;
}

.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
    color: #FFF;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
}

.top-wrapper {
    padding: 120px 0 100px 0;
    background-image: url("/img/live1.png");
    background-attachment: fixed;
    background-size: cover;
    color: #FFF;
    text-align: center;
}

.top-wrapper h1 {
    opacity: 0.9;
    letter-spacing: 20px;
    font-family: 'Wire One', sans-serif;
    font-size: 110px;
    text-shadow: 10px 10px 10px black;
    padding: 5px;
    background-color: rgba(0,0,0,0.3);
}

.top-wrapper h2 {
    opacity: 0.9;
    font-size: 40px;
    letter-spacing: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    line-height: inherit;
    text-shadow: 1px 1px 1px blue;
}

.top-wrapper p {
    text-shadow: 1px 1px 1px blue;
    font-weight: bold;
}

.top-btn {
    padding: 8px 24px;
    color: #FFF;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
}

.top-btn a {
    color: #FFF;
}

.top-btn:hover {
    color: #FFF;
    text-decoration: none;
    background-color: rgba(200, 200, 50, 1.0);

}

.signup {
    background-color: rgba(200, 200, 50, 0.8);
}

.fa {
    margin-right: 5px;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    z-index: 10;
}

.content-wrapper {
    border-top: 1px solid #eee;
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
}

.heading {
    text-align: center;
    margin-top: 30px;
    position: relative;
    display: inline-block;
    margin-bottom: 2em;
}

.heading:before {
    content: '';
    position: absolute;
    bottom: -15px;
    display: inline-block;
    width: 60px;
    height: 5px;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: black;
    border-radius: 2px;
}

.heading h2 {
    font-weight: normal;
    display: block;
    padding: 10px 0;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.content {
    text-align: center;
}

.content h3 {
    color: #5f5d60;
    margin-bottom: 0px;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.content-icon {
    position: relative;
}

.content-icon p {
    position: absolute;
    top: 10%;
    width: 100%;
    color: black;
}

.text-contents {
    width: 80%;
    display: inline-block;
    font-size: 14px;
    color: #5f5d60;
}

.heading h3 {
    font-weight: normal;
}

.message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
}

.message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
}

.message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}

footer img {
    width: 125px;
}

footer p {
    text-align: center;
    color: #b3aeb5;
    font-size: 12px;
}

footer {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: black;
}

.footer-icon {
    color: #FFF;
}

.login-wrapper {
    padding: 100px 0 100px 0;
    background-image: url("/img/live1.png");
    background-attachment: fixed;
    background-size: cover;
    color: #FFF;
    text-align: center;
}

.login-wrapper .userinput {
    opacity: 0.8;
    padding: 10px;
    width: 40%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.login-wrapper .submit-btn {
    margin-top: 40px;
    opacity: 0.8;
    padding: 10px;
    width: 10%;
}

.card-body input {
    opacity: 0.7;
}

.invalid-feedback {
    background-color: rgba(250, 250, 100, 0.7);
}

.concert-wrapper {
    position: relative;
    color: #FFF;
    background-image: url("/img/live1.png");
    background-attachment: fixed;
    background-size: cover;
}

.concert-wrapper p {
    text-shadow: 1px 1px 1px blue;
}

.concerts {
    position: relative;
    transition: 0.6s ease-in-out;
    padding-top: 2em;
}

.concert {
    text-align: center;
    float: left;
}

.concert h3 {
    color: #5f5d60;
    margin-bottom: 0px;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-shadow: 1px 1px 1px blue;
}

.concert-heading {
    color: #364e96; /*文字色*/
    padding: 0.5em 0; /*上下の余白*/
    border-top: solid 3px #364e96; /*上線*/
    border-bottom: solid 3px #364e96; /*下線*/
}

.concert-icon {
    position: relative;
}

.concert-icon p {
    position: absolute;
    top: 10%;
    width: 100%;
    color: black;
}

.band-name h3 {
    font-weight: bold;
    font-size: 20px;
    color: #FFF;
}

.concert-text-contents {
    width: 80%;
    display: inline-block;
    font-size: 18px;
    color: #FFF;
}

.input-group-addon {
    margin: auto 0;
}

.detail-submit-btn {
    margin-top: 20px;
    text-align: center;
}

.detail-submit-btn :hover {
    background-color: rgba(250, 250, 100, 0.5);
    transition: all 0.3s;
}

.detail-pic {
    margin: auto;
}

.button-area {
    position: relative;
}

.slide_btn {
    position: absolute;
    display: inline-block;
    text-decoration: none;
    color: black;
    width: 90px;
    height: 90px;
    line-height: 90px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    transition: .4s;
    background-color: rgba(50, 150, 200, 0.5);
}

.slide_btn_left {
    top: 40%;
    left: 2%;
}

.slide_btn_right {
    top: 40%;
    right: 2%;
}

.slide_btn:hover {
    background-color: rgba(200, 200, 50, 0.7);
    cursor: pointer;
}

.concert-img {
    width: 50%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
}

.concert-img .caption {
    font-size: 130%;
    color: #fff;
    padding-top: 30%;
    padding-left: 0px;
}

.concert-img .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    font-weight: bold;
    top: 0;
    left: 0;
    opacity: 0; /* マスクを表示しない */
    background-color: rgba(200, 200, 50, 0.3);
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.concert-img:hover .mask {
    opacity: 1; /* マスクを表示する */
    padding-left: 10%; /* 右にずらす */
}

#address-map {
    width: 90%;
    height: 400px;
    margin: 0 auto;
}

#show-area-button {
    margin-left: 10px;
    background-color: rgba(200, 200, 100, 0.3);
    color: #FFF;
    border-radius: 10px;
}

.about-wrapper {
    padding: 120px 0 100px 0;
    background-image: url("/img/spray_black.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: #FFF;
    text-align: center;
}

.about-wrapper h1 {
    opacity: 0.9;
    font-size: 40px;
    letter-spacing: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    line-height: inherit;
    text-shadow: 5px 5px 2px #e83e8c;
}

.about-wrapper > .container {
    padding: 10px;
    background-color: rgba(100, 100, 100, 0.6);
}

.about-wrapper p {
    font-weight: bold;
    text-shadow: 5px 5px 2px #e83e8c;
}

.user-explain {
    margin-top: 30px;
}

.about-content-wrapper {
    border-top: 1px solid #eee;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
}

.about-content-wrapper p {
    text-align: left;
}

.text-middle {
    margin: auto 0;
}

.about-img {
    width: 50%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.about-btn {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px 24px;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    color: black;
    background-color: rgba(250, 250, 100, 0.7);
}

.search-wrapper select, input{
    border-radius: 3px;
    min-height: 50px;
}